h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
}

button {
    padding: 15px;
    outline: none;
    border-radius: 25px;
    background-color: rgb(82, 156, 82);
    color:white;
    font-size: 200%;
}

button:hover {
    background-color: seagreen;
    color: white;
}

button:active {
    background-color:darkgreen;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
                                
  }