body {
    background-color: black;
}

img {
    height: 200%;
    width: 200%;
}

h1, h2, h3 {
    max-width: 700px;
    font-size: 250%;
    margin-left: 10px;
    color: lightblue;
    font-family: Consolas;
}

.container {
    width:auto;
}

.left-element {
    display: inline-block;
    width: 500px;
    position: absolute;
    top: 30px;
    left: 50px;
}

.right-element {
    display: inline-block;
    position:fixed;
    margin-left: auto;
    top: 75px;
    right: 200px;
}

p {
    color: lightblue;
}